//*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*GENERAL*/
/*{
	outline: 3px solid #fff;
}*/

hmtl{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*, *:before, *:after{
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
	outline: none;
	box-sizing: border-box;
}
body{
	color: #A8A8A8;
	max-width: 1000px;
	margin: 0px auto;
	font-family: sans-serif ;
	-webkit-font-smoothing: antialiased;
	background: #000;
	
}

header{
	margin-top: 20px;
	height: 50px;
}



.container:before,
.group:before,
.menu:before,
.group:before
.group:after {
	content: " ";
	display: table; 
}
.container:after,
.groupafter,
.menu:after {
	clear: both;
}
.container,
.group,
.menu {
	*zoom: 1;
}

a{ 
	text-decoration: none;
}

.container li{
    list-style: none;
    display: block;
}


/*NAVIGATION*/

.navigation{
	margin: 1.5em 0; /* 32/16 */
    margin-left: 111px;
}

.navigation li {
	float: none;
	display: inline-block;
}



.navigation a {
	color: #A8A8A8;
	font-size: 1.4375em; /* 23/16 */
	width: 8.875em; /* 142/16 */
	height: 7.5em; /* 120/16 */
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 1.25em;

}
.selected a,
.navigation a:hover,
.navigation a:focus{
	color: #bbb362;
}

/*SOCIAL*/

.social li{
	display: inline-block;
	float: right;
	margin-top: -0.2em; /* 1/16 */

}
.social .fa{
	font-size: 1.0625em; /* 17/16 */
}
.social-icon{
	display: block;
	width: 3em; /* 48/16 */

	color: #989898;
	background: #eeefed00; 

	border-radius: 0.625em ; /* 10/16 */
	margin-left: 0.3125em;  /* 5/16 */
}
.selected a,
.social-icon:hover,
.social-icon:active,
.social-icon:focus{
	color: #bbb362;
}	

/*Main*/
.logoSec{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;

}
img{
	display: inline-block;
	max-width: 100%;
	height: auto;
}
.intro-text{
	text-align: center;
}
h2{
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	margin: 50px auto 150px auto;
	
}
h1{
	font-family: 'Bodoni Moda', serif;
	margin: 0 auto;
}
/*FORM*/

.form-sec {
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 10px;
}

.form-container {
	max-width: 800px;
	background: #2b2929;
	width: 800px;
	padding: 25px 40px 10px 40px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}

.form-container .text {
	text-align: center;
	font-size: 41px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	background: -webkit-linear-gradient(right, #CCCCB2, #757519);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.form-container form {
	padding: 30px 0 0 0;
}

.form-container form .form-row {
	display: flex;
	margin: 32px 0;
}

form .form-row .input-data {
	width: 100%;
	height: 40px;
	margin: 0 20px;
	position: relative;
}

form .form-row .textarea {
	height: 70px;
}

.input-data input,
.textarea textarea {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	font-size: 17px;
	background-color: #2b2929;
	border-bottom: 2px solid rgba(174, 158, 158, 0.12);
}

.input-data input:focus~label,
.textarea textarea:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label {
	transform: translateY(-20px);
	font-size: 14px;
	color: #bbb362;
}

.textarea textarea {
	resize: none;
	padding-top: 10px;
}

.input-data label {
	position: absolute;
	pointer-events: none;
	bottom: 10px;
	font-size: 16px;
	transition: all 0.3s ease;
}

.textarea label {
	width: 100%;
	bottom: 40px;
	background: #2b2929;
}

.input-data .underline {
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 100%;
}

.input-data .underline:before {
	position: absolute;
	content: "";
	height: 2px;
	width: 100%;
	background: #bbb362;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before,
.textarea textarea:focus~.underline:before,
.textarea textarea:valid~.underline:before {
	transform: scale(1);
}

.submit-btn .input-data {
	overflow: hidden;
	height: 45px !important;
	width: 25% !important;
}

.submit-btn .input-data .inner {
	height: 100%;
	width: 300%;
	position: absolute;
	left: -100%;
	background: -webkit-linear-gradient(right, #CCCCB2, #757519);
	transition: all 0.4s;
}

.submit-btn .input-data:hover .inner {
	left: 0;
}

.submit-btn .input-data input {
	background: none;
	border: none;
	color: #2b2929;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}


.quote{
	margin: 100px 0;
	text-align: center;
	padding: 0 30px;
}
.quote h3{
	font-family: 'Great Vibes', cursive;
	font-size: 40px;
	margin-bottom: 0;
}
.quote h4{
	float: right;
	margin-right: 100px;
	font-family: 'Bodoni Moda', serif;
	font-size: 20px;
}
.accept {
	display: inline-flex;
	align-items: center;
	right: 0;
	margin-left: auto;
	flex-wrap: wrap;
	
}
.accept p {
	margin: 0;
	flex: 1;
}
.accept a{
	text-decoration: underline;
	color: #757519;
}

.accept input[type="checkbox"] {
	margin-right: 10px;
	width: 20px;
	
}
/*FOOTER*/


.main-footer{
	color: #A8A8A8;
	background: #333;
	width: 100%;
  	height: 7.5em; /* 120/16 */
  	position: absolute;
  	left: 0;
    margin-top: 10%;

}
.main-footer a {
	color: #bbb362;
	text-decoration: none;
	text-align: center;
}


.main-footer .fa{
	color: #bbb362;
	padding-right: 4px 
}


/*ADAPTIVE*/


@media screen and (min-width: 1000px){
	.openbtn{
		display: none;	
	}
	.sidepanel{
		display: none;
	}
}

@media screen and (max-width: 1000px){
	.navigation{
		display: none;
	}
	.social li{
		margin-top: 0.25em; /* 13/16 */
	}
	.selected a,
	.navigation a:hover,
	.navigation a:focus{
		color: #bbb362;
}	
	.quote h4{
		margin-right: 0;
	}
}

@media (max-width: 700px) {
	.form-container .text {
		font-size: 30px;
	}

	.form-container form {
		padding: 10px 0 0 0;
	}

	.form-container form .form-row {
		display: block;
	}

	form .form-row .input-data {
		margin: 35px 0 !important;
	}

	.submit-btn .input-data {
		width: 55% !important;
	}
}
@media screen and (max-width: 500px){
	h2, h1{
		font-size: 150%;
		width: 90%;
		
	}
	.quote{
		line-height: normal;
		display: inline-block;
	}
	.quote h3{
		font-size: 190%;
	}
	.quote h4{
		margin: 0px;
		font-size: 110%;
	}
	.main-footer a{
		display: inline-block;
	}
}
@media screen and (max-width: 390px){
	.footer-hidden{
		display: none;
	}
	.main-footer p{
		margin: 3.5%;
	}
	.social li{
		margin-top: 0.10em; /* 13/16 */
	}
	.openbtn{
		margin-top: 0em;   /* 8/16 */
	}
	.openbtn{
		font-size: 30px;
	}

}
