/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/*LIST*/
body {
    padding: 0;
    margin: 0 auto;
}

main {
    align-items: center;
    justify-content: center;
}

.priceImages {
    text-align: center;
    margin-top: 300px ;
    display: inline-block;
    line-height: 120px;
}
img{
    max-height: 1000px;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    
}




/*ADAPTIVE*/

