/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*GENERAL*/
/*{
	outline: 3px solid black;
}*/

hmtl{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*, *:before, *:after{
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
body{
	color: #323232;
	max-width: 1000px;
	margin: 0px auto;
	font-family: sans-serif ;
	-webkit-font-smoothing: antialiased;
	background: #000;
	
}
header{
	margin-top: 20px;
	height: 50px;
}



.container:before,
.group:before,
.menu:before,
.group:before
.group:after {
	content: " ";
	display: table; 
}
.container:after,
.groupafter,
.menu:after {
	clear: both;
}
.container,
.group,
.menu {
	*zoom: 1;
}

a{ 
	text-decoration: none;
}

.container{
}

.container li{
    list-style: none;
    display: block;
}


/*NAVIGATION*/

.navigation{
	margin-top: 2em; /* 32/16 */
    margin-left: 111px;
}

.navigation li {
	float: none;
	display: inline-block;
}



.navigation a {
	color: #A8A8A8;
	font-size: 1.4375em; /* 23/16 */
	width: 8.875em; /* 142/16 */
	height: 7.5em; /* 120/16 */
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 1.25em;

}
.selected a,
.navigation a:hover,
.navigation a:focus{
	color: #bbb362;
}



/*SOCIAL*/


.social{
}
.social li{
	display: inline-block;
	float: right;
	margin-top: 0em;
}
.social .fa{
	font-size: 1.0625em; /* 17/16 */
}
.social-icon{
	display: block;
	width: 3em; /* 48/16 */

	color: #989898;
	background: #eeefed00; 

	border-radius: 0.625em ; /* 10/16 */
	margin-left: 0.3125em;  /* 5/16 */
}
.selected a,
.social-icon:hover,
.social-icon:active,
.social-icon:focus{
	color: #bbb362;
}

/*MAIN*/

.header-photo{
	position: absolute;
	left: 0;
	padding-right: 0px;
	width: 100%;
	height: 210px;
	background: url('jpg/contact.jpg') no-repeat;
	background-position: 63% 70%;
	/*background-attachment: fixed;*/
	background-size: cover;
}

section h2 {
	font-size: 40px;
	text-align: center;
	margin-top: 60px;
	color: #bbb362;
	text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                  1px -1px 0 #000,
                 -1px -1px 0 #000;             
}

/*TABLE*/

article{
	margin-top: 3.125em; /* 50/16 */
    display: inline-block;
    width: 100%;
}
.price{
	padding: 0.05em; /* 20/16 */
}
strong{
	color: #bbb362;
}

.one{
	margin-top: 350px
}

h1{
	color:#bbb362;
	margin-left: 5em; /*160/32*/
}
table{
	color: #A8A8A8;
	background: transparent;
	border-collapse: collapse;
	width: 75%;
    margin: 0 auto;
    margin-bottom: 150px;

}
th{
	height: 2.1875em; /* 35/16 */
	text-align: center;

}
th:nth-child(odd){
	text-align: left;
}
th:nth-child(even){
	text-align: right;
}

th, td{
	font-size: 1.3125em; /* 21/16 */
	padding: 0.4375em; /* 7/16 */
}


tbody tr:hover {
	background-color: #A8A8A8;
	color: #000;
}


td:nth-child(even){
	text-align: right;
	white-space: nowrap;
}


/*FOOTER*/


.main-footer{
	color: #A8A8A8;
	background: #333;
	width: 100%;
  	height: 7.5em; /* 120/16 */
  	position: absolute;
  	left: 0;
    margin-bottom: 0;

}
.main-footer a {
	color: #bbb362;
	text-decoration: none;
	text-align: center;
}


.main-footer .fa{
	color: #bbb362;
	padding-right: 4px 
}

/*ADAPTIVE*/


@media screen and (min-width: 1000px){
	.openbtn{
		display: none;	
	}
	.sidepanel{
		display: none;
	}
}

/*ADAPTIVE*/


@media screen and (min-width: 1000px){
	.openbtn{
		display: none;	
	}
	.sidepanel{
		display: none;
	}
}

@media screen and (max-width: 1000px){
	.navigation{
		display: none;
	}
	.social li{
		margin-top: 0.25em; /* 13/16 */
}

	.selected a,
	.navigation a:hover,
	.navigation a:focus{
		color: #bbb362;
}	
}

@media screen and (max-width: 52.6875em){ /* 843/16 */
	table{
		width: 85%;}
	.price {
    	padding-left: 0.3125em;}	 /* 5/16 */
	h1{
	margin-left: 1.875em;}/*60/32*/
}
@media screen and (max-width: 47.1875em){ /* 755/16 */
	table{
		width: 95%;}
	.price {
    padding-left: 0em;} /* 0/16 */
    h1{
	margin-left: 0.6875em;}/*22/32*/	

}

@media screen and (max-width: 390px){
	.footer-hidden{
		display: none;
	}
	.main-footer p{
		margin: 3.5%;
	}
	.social li{
		margin-top: 0em; /* 13/16 */
	}
	.openbtn{
	margin-top: 0.15em;   /* 8/16 */
	}


}
